[submodule "components/kd_common"]
	path = components/kd_common
	url = https://github.com/koiosdigital/kd_common
[submodule "components/kd_pixdriver"]
	path = components/kd_pixdriver
	url = https://github.com/koiosdigital/kd_pixdriver
[submodule "components/protobufs"]
	path = components/protobufs
	url = https://github.com/koiosdigital/protobufs
[submodule "components/koios_sdk"]
	path = components/koios_sdk
	url = https://github.com/koiosdigital/koios-sdk
